# APP
APP_NAME=pd-scanner
APP_ENV=dev
LOG_LEVEL=INFO

# POSTGRESQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5433 # port changed is not 5432
POSTGRES_DB=db-name
POSTGRES_USER=username
POSTGRES_PASSWORD=top-secret-password
POSTGRES_SSLMODE=disable

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6380 # port changed is not 6379
REDIS_PASSWORD=top-secret-password
REDIS_DB=0

# SPARK
SPARK_MASTER_HOST=spark-master
SPARK_MASTER_PORT=7077
SPARK_UI_PORT=8080
SPARK_DRIVER_MEMORY=1g
SPARK_EXECUTOR_MEMORY=1g
SPARK_EXECUTOR_CORES=2

# KAFKA
KAFKA_BROKER=localhost
KAFKA_PORT=9092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
KAFKA_TOPIC_RAW_FILES=raw_files
KAFKA_TOPIC_EXTRACTED_TEXT=extracted_text
KAFKA_TOPIC_RESULTS=pd_results

# SCANNER
SCAN_ROOT_PATH=./test_dataset
SCAN_MAX_FILE_SIZE_MB=500

# OCR SERVICE
OCR_HOST=0.0.0.0
OCR_PORT=8001
OCR_LOG_LEVEL=INFO

OCR_REDIS_URL=redis://:REDIS_PASSWORD@redis:6379/1

OCR_TESSERACT_LANGS=rus+eng
OCR_TESSERACT_PATH=
OCR_MAX_IMAGE_SIZE_MB=50
OCR_MIN_CONFIDENCE=60
OCR_CACHE_TTL_SECONDS=3600
OCR_WORKER_CONCURRENCY=2

# DETECTOR
DETECTOR_REGEX_ENABLED=true
DETECTOR_REGEX_MIN_CONFIDENCE=0.8

DETECTOR_NLP_ENABLED=true
DETECTOR_NLP_MIN_CONFIDENCE=0.6
DETECTOR_NLP_ENTITY_TYPES=PER,ORG,LOC,DATE
DETECTOR_NLP_MAX_TEXT_LENGTH=50000

DETECTOR_FUZZY_ENABLED=true
DETECTOR_FUZZY_THRESHOLD=85

DETECTOR_CONTEXT_ENABLED=true
DETECTOR_CONTEXT_WINDOW=50

DETECTOR_ENSEMBLE_STRATEGY=weighted
DETECTOR_ENSEMBLE_WEIGHTS_REGEX=0.5
DETECTOR_ENSEMBLE_WEIGHTS_NLP=0.3
DETECTOR_ENSEMBLE_WEIGHTS_FUZZY=0.2
DETECTOR_FINAL_MIN_CONFIDENCE=0.7