# APP
APP_NAME=pd-scanner
APP_ENV=dev
LOG_LEVEL=INFO

# POSTGRESQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5433 # port changed is not 5432
POSTGRES_DB=db-name
POSTGRES_USER=username
POSTGRES_PASSWORD=top-secret-password
POSTGRES_SSLMODE=disable

# REDIS
REDIS_HOST=redis
REDIS_PORT=6380 # port changed is not 6379
REDIS_PASSWORD=top-secret-password
REDIS_DB=0

# KAFKA
KAFKA_BROKER=kafka
KAFKA_PORT=9092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
KAFKA_TOPIC_RAW_FILES=raw_files
KAFKA_TOPIC_EXTRACTED_TEXT=extracted_text
KAFKA_TOPIC_RESULTS=pd_results

# SCANNER
SCAN_ROOT_PATH=./test_dataset
SCAN_MAX_FILE_SIZE_MB=500